@model ForthAssignment.Core.Aplication.Models.UserFriend.UserFriendModel;

<div>
    <form method="post" asp-controller="UserFriend" asp-action="DeleteUserFriend">
        <input type="hidden" name="SeriesId" value="@Model.Id" />
        <h1>Are you sure you want to finish this friendship?</h1>
        <button type="submit" class="btn btn-danger float-end p-2">Yes</button>
        <a asp-controller="UserFriend" asp-action="DeleteUserFriend" class="btn btn-outline-warning float-end p-2 mx-2">Go Back</a>
    </form>
</div>