<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-success text-center" role="alert">
                <h1 class="alert-heading">Your user is now activated!</h1>
                <p class="mb-0">Thank you for activating your account. You can now enjoy all the features of our service.</p>
                <a href="@Url.Action("Index", "Post")" type="button" class="btn btn-sm btn-outline-secondary mt-3">Go to the app</a>
            </div>
        </div>
    </div>
</div>