﻿﻿
@if (ViewBag.messageError is not null)
{
    <p class="alert-danger d-block text-center">@ViewBag.messageError</p>
}

<div class="row">
    <div class="col-8 offset-2">
        <div class=" bg-dark text-light">
            <h1 class="text-center"> Change Password </h1>
        </div>
        <div class="card shadow-sm">
            <div class="card-body">
                <section>
                    <form method="post" asp-controller="User" asp-action="ChangePassword">
                        <div class="mb-3">
                            <label for="username" class="form-label"> Username</label>
                            <input type="text" name="username" class="form-control" />
                        </div>
                        <div class="p-2">
                            <button type="submit" class="btn btn-primary  float-end  p-2 "> Search user </button>
                            <a asp-controller="User" asp-action="LogIn" class="btn btn-outline-warning  float-end  p-2  mx-2"> Go Back </a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>